// foundation
@import 'foundation/color';
@import 'foundation/typography';
@import 'foundation/zIndex';

// base
@import 'base/reset';
@import 'base/root';

// utils
@import 'utils/function';
@import 'utils/mixin';

html,
body {
	width: 100dvw;
	height: 100dvh;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--global-bg-color);
	color: var(--global-color);
}
