@import '../../../../styles/utils/function';
@import '../../../../styles/utils/mixin';

.content {
	height: inherit;
	display: flex;
	align-items: center;
}

.left-wrapper {
	height: inherit;
	flex: 1;
	display: flex;
	align-items: center;

	> svg {
		max-height: 380px;
		margin: auto;
	}
}

.right-wrapper {
	min-width: 45vw;
	height: inherit;
	display: flex;
	align-items: center;
	padding: 16px;

	&__inner {
		max-width: 760px;
		min-width: 437px;
		padding: 20px;
		display: flex;
		flex-direction: column;
	}
}

.title {
	color: #0f1419;
	font-size: 64px;
	font-weight: 700;
	margin: 48px 0;
	white-space: nowrap;
}

.sub-title {
	color: #0f1419;
	font-size: 31px;
	font-weight: 700;
	margin-bottom: 32px;
}

.button {
	@include flexbox-center;
	width: 300px;
	max-width: 380px;
	height: 40px;
	border-radius: 9999px;
	transition: background-color 0.2s;
	margin-bottom: 8px;
	cursor: pointer;
	text-decoration: none;
	font-weight: 700;
	background-color: #1d9bf0;
	color: #ffffff;

	&:hover {
		background-color: #1a8cd8;
	}
}

.sub-button {
	width: 300px;
	max-width: 380px;
	height: 40px;
	border-radius: 9999px;
	transition: background-color 0.2s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-weight: 700;
	border: 1px solid #cfd9de;
	background-color: #ffffff;
	color: #1d9bf0;

	&:hover {
		background-color: get-opacity-color(#1d9bf0, 10);
	}
}

.text {
	color: #0f1419;
	font-size: 17px;
	font-weight: 700;
	margin: 40px 0 20px;
}
