:root {
	// colors
	--primary: #{$primary};
	--black: #{$black};
	--dark_gray: #{$dark_gray};
	--light_gray: #{$light_gray};
	--extra_light_gray: #{$extra_light_gray};
	--extra_extra_light_gray: #{$extra_extra_light_gray};
	--white: #{$white};
}
